#!/bin/bash

[Unit]
Description=DigiCastWebServer
After=multi-user.target

[Service]
WorkingDirectory=/home/digicast/digicast/python
ExecStart=/usr/bin/gunicorn -w 2 -b 0.0.0.0:5000 webserver:app
Restart=always

[Install]
WantedBy=multi-user.target
